<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat</title>
</head>
<body>
    <form action="/chats" method="post">
      from :-  <input type="text"  required name="from" id="from" placeholder="from :- ">
      <br>
      <br>
      to :-  <input type="text" required name="to" id="to" placeholder="to :- ">
      <br>
      <br>
      message :- <textarea required name="msg" id="msg"></textarea>
      <br>
      <br>
      <button type="submit">Add new Chat</button>
    </form>
</body>
</html>